<section class="advantages">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="advantages-container-ol">
      <li class="advantages-container-list">
        Swimming and water sports: try your hand at water skiing
      </li>
      <li class="advantages-container-list">
        Fishing: try to catch your own dinner
      </li>
      <li class="advantages-container-list">
        Sightseeing tours: take a shore or island tour, enjoy the views and
        sunsets from the water
      </li>
      <li class="advantages-container-list">
        Rest and relaxation: read a book or listen to music while enjoying the
        outdoor atmosphere.
      </li>
    </ol>
    <img src="../img/" alt="" />
  </div>
</section>
