<section class="advantages">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="advantages-container-ol">
      <li class="advantages-container-list">
        <p class="advantages-container-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-container-list">
        <p class="advantages-container-text">
          Fishing: try to catch your own dinner
        </p>
      </li>
      <li class="advantages-container-list">
        <p class="advantages-container-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-container-list">
        <p class="advantages-container-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture>
      <source
        srcset="
          ../img/advantages/advantages-desc.webp    1x,
          ../img/advantages/advantages-desc@2x.webp 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ../img/advantages/advantages-tablet.webp    1x,
          ../img/advantages/advantages-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../img/advantages/advantages-mob.webp    1x,
          ../img/advantages/advantages-mob@2x.webp 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="advantages-img"
        src="../img/advantages/advantages-mob.webp"
        alt="foto yacht"
      />
    </picture>
  </div>
</section>
