<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Explore the High Seas with Our Luxury <br class="hidden-xs" />Yacht
      Rentals
    </h1>
    <p class="hero-text">
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>
    <div class="hero-button-container">
      <button class="hero-button" type="button">
        <a class="hero-button-link" href="/src/partials/rent-a-yacht.html"
          >Yacht rental</a
        >
      </button>
    </div>
  </div>
</section>
