<section class="modal-overlay is-open">
  <div class="container mobile-menu-container">
    <div class="modal">
      <p class="modal-text">yachtjet</p>
      <button class="modal-btn" type="button">
        <svg width="16" height="16" class="modal-svg">
          <use href="/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <nav class="modal-nav">
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="" class="modal-nav-link current">ABOUT</a>
        </li>
        <li class="modal-nav-item">
          <a href="" class="modal-nav-link">YACHTS</a>
        </li>
        <li class="modal-nav-item">
          <a href="" class="modal-nav-link">REVIEWS</a>
        </li>
      </ul>
    </nav>
    <div class="modal-footer">
      <ul class="modal-svg-list">
        <li class="modal-svg-item">
          <a href="" class="modal-svg-link">
            <svg width="20" height="20" class="modal-svg-icon">
              <use href="/img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="modal-svg-item">
          <a href="" class="modal-svg-link">
            <svg width="20" height="20" class="modal-svg-icon">
              <use href="/img/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="modal-svg-item">
          <a href="" class="modal-svg-link">
            <svg width="20" height="20" class="modal-svg-icon">
              <use href="/img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
