<section class="modal-overlay" data-modal>
  <div class="container mobile-menu-container">
    <h2 class="mobile-menu-title visually-hidden">Yacht rent</h2>
    <div class="modal">
      <p class="modal-text">yachtjet</p>
      <button class="modal-btn" type="button" data-modal-close>
        <svg width="16" height="16" class="modal-svg">
          <use href="/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <nav class="modal-nav">
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="#about-us" class="modal-nav-link current">ABOUT</a>
        </li>
        <li class="modal-nav-item">
          <a href="#our-yachts" class="modal-nav-link">YACHTS</a>
        </li>
        <li class="modal-nav-item">
          <a href="#reviews" class="modal-nav-link">REVIEWS</a>
        </li>
      </ul>
    </nav>
    <div class="modal-footer">
      <ul class="modal-svg-list">
        <li class="modal-svg-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="modal-svg-link"
            target="_blank"
          >
            <svg width="20" height="20" class="modal-svg-icon">
              <use href="/img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="modal-svg-item">
          <a
            href="https://www.youtube.com/c/GoIT "
            class="modal-svg-link"
            target="_blank"
          >
            <svg width="20" height="20" class="modal-svg-icon">
              <use href="/img/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
        <li class="modal-svg-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="modal-svg-link"
            target="_blank"
          >
            <svg width="20" height="20" class="modal-svg-icon">
              <use href="/img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
