<section id="our-yachts" class="our-yachts">
  <div class="container our-yachts-container">
    <h2 class="sec-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yacht-card">
      <li class="yacht-list">
        <picture>
          <source srcset="/img/our-yachts/our-yacht-desc-1440/our-yacht-1-desc-1440.webp 1x,
          /img/our-yachts/our-yacht-desc-1440/our-yacht-1-desc-1440@2x 2x" media="(min-width: 1440 px)">
           <source srcset="/img/our-yachts/our-yacht-desc/our-yacht-1-desc.webp 1x,
            /img/our-yachts/our-yacht-desc/our-yacht-1-desc@2x.webp 2x" media="(min-width: 1280px)">
          <source srcset="/img/our-yachts/our-yacht-tablet/our-yacht-1-tablet.webp 1x,
          /img/our-yachts/our-yacht-tablet/our-yacht-1-tablet@2x.webp 2x" media="(min-width: 768px)">
          <source srcset="/img/our-yachts/our-yacht-mob/our-yacht-mob.webp 1x,
            /img/our-yachts/our-yacht-mob/our-yacht-mob@2x.webp 2x" media="(max-width: 767px)" />
          <img
            class="yacht-img"
            src="/img/our-yachts/our-yacht-mob/our-yacht-mob.webp"
            alt="first yacht"
          />
        </picture>
        <div class="title-card first-card">
          <h3 class="yacht-type fisrt-type">arrow</h3>
          <h3 class="subtitle">luxury yahts</h3>
        </div>
        <div class="divider"></div>
        <div class="card">
      <div class="card-desk">
        <p class="description"><span>LENGTH</p>
        <p class="description"><span>BUILDER</span></p>
        <p class="description"><span>BUILT</span></p>
        <p class="description"><span>GUESTS</span></p>
        <p class="description"><span>PRICE</span></p>
      </div>
      <div class="card-desk">
        <p class="description">48m(155ft)</p>
        <p class="description">Admiral</p>
        <p class="description">2021</p>
        <p class="description">11 in 5 cabins</p>
        <p class="description">€33,500,000</p>
      </div>
    </div>
      </li>
      <li class="yacht-list hidden-tablet">
        <picture>
          <source srcset="/img/our-yachts/our-yacht-desc/our-yacht-2-desc.webp 1x,
          /img/our-yachts/our-yacht-desc/our-yacht-2-desc@2x.webp 2x" media="(min-width: 1280px)">
          <source srcset="/img/our-yachts/our-yacht-tablet/our-yacht-2-tablet.webp 1x,
          /img/our-yachts/our-yacht-tablet/our-yacht-2-tablet@2x.webp 2x" media="(min-width: 768px)">
          <img class="yacht-img" src="/img/our-yachts/our-yacht-tablet/our-yacht-2-tablet.webp" alt="second yacht">
        </picture>
        <div class="title-card second-card">
          <h3 class="yacht-type second-type">BENETTI OASIS 40</h3>
          <h3 class="subtitle">LUXURY YAHTS</h3>
        </div>
        <div class="divider"></div>
        <div class="card">
      <div class="card-desk">
        <p class="description"><span>LENGTH</p>
        <p class="description"><span>BUILDER</span></p>
        <p class="description"><span>BUILT</span></p>
        <p class="description"><span>GUESTS</span></p>
        <p class="description"><span>PRICE</span></p>
      </div>
      <div class="card-desk">
        <p class="description">41m (133ft)</p>
        <p class="description">Benetti</p>
        <p class="description">2025</p>
        <p class="description">10 in 5 cabins</p>
        <p class="description">€23,210,000</p>
      </div>
    </div>
      </li>
      <li class="yacht-list hidden">
        <picture>
            <source srcset="/img/our-yachts/our-yacht-desc/our-yacht-3-desc.webp 1x,
            /img/our-yachts/our-yacht-desc/our-yacht-3-desc@2x.webp 2x" media="(min-width: 1280px)">
            <img class="yacht-img" src="/img/our-yachts/our-yacht-desc/our-yacht-3-desc.webp" alt="third yacht">
          </picture>
        <div class="title-card">
          <h3 class="yacht-type third-type">BELLE ANNA</h3>
          <h3 class="subtitle">LUXURY YAHTS</h3>
        </div>
        <div class="divider"></div>
        <div class="card">
      <div class="card-desk">
        <p class="description"><span>LENGTH</p>
        <p class="description"><span>BUILDER</span></p>
        <p class="description"><span>BUILT</span></p>
        <p class="description"><span>GUESTS</span></p>
        <p class="description"><span>PRICE</span></p>
      </div>
      <div class="card-desk">
        <p class="description">50m(155ft) </p>
        <p class="description">ISA</p>
        <p class="description">2012</p>
        <p class="description">12 in 6 cabins</p>
        <p class="description">€21,000,000</p>
      </div>
    </div>
      </li>
    </ul>
    <div class="rent-yacht-btn">
   <a  href="#rent-yacht" class="rent-yacht-link">Yacht rental</a>
   </div>
  </div>
</section>
