    <section class="Reviews">
      <h2>YachtJet take pride in providing the best possible service and experience to our customers</h2>
      <p class="subtitle">
        Our customers have enjoyed unforgettable moments on our yachts. Don’t just take our word for it, read on to find out what they have to say about their journey with us.
      </p>
      <div class="reviews-container">
        <!-- Карточка для John Wax -->
        <div class="review-card review-card--john">
          <picture>
            <source 
              srcset="img/reviews/reviews-1.webp 1x, img/reviews/reviews-1@2x.webp 2x" 
              type="image/webp"
            >
            <img 
              src="img/reviews/reviews-1.jpg" 
              srcset="img/reviews/reviews-1@2x.jpg 2x" 
              alt="John Wax"
            >
          </picture>
          <h3>John Wax</h3>
          <p>I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, luxurious, and the crew took care of everything.</p>
        </div>
  
        <!-- Карточка для Victoria Romanshenko -->
        <div class="review-card review-card--victoria">
          <picture>
            <source 
              srcset="img/reviews/reviews-2.webp 1x, img/reviews/reviews-2@2x.webp 2x" 
              type="image/webp"
            >
            <img 
              src="img/reviews/reviews-2.jpg" 
              srcset="img/reviews/reviews-2@2x.jpg 2x" 
              alt="Victoria Romanshenko"
            >
          </picture>
          <h3>Victoria Romanshenko</h3>
          <p>The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all the amenities we needed, and the crew was attentive and friendly.</p>
        </div>
  
        <!-- Карточка для Ihor Trachuk -->
        <div class="review-card review-card--ihor">
          <picture>
            <source 
              srcset="img/reviews/reviews-3.webp 1x, img/reviews/reviews-3@2x.webp 2x" 
              type="image/webp"
            >
            <img 
              src="img/reviews/reviews-3.jpg" 
              srcset="img/reviews/reviews-3@2x.jpg 2x" 
              alt="Ihor Trachuk"
            >
          </picture>
          <h3>Ihor Trachuk</h3>
          <p>YachtJet 80 was the most luxurious yacht I’ve ever been on. The cabins were spacious and elegant, the outdoor areas were perfect for relaxing and entertaining. Worth every penny!</p>
        </div>
      </div>
    </section>
