.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages {
    padding-top: 80px;
    padding-bottom: 80px;

}
.advantages-container {
    margin: 0 auto;
    max-width: 375px;
} 
.advantages-container-ol {
    background-color: #1b414b;;
    border-radius: 24px;
    max-width: 335px;
    height: 642px;
    margin-bottom: 20px;
    padding: 80px 20px 80px 20px;
    counter-reset: list-counter;
}

.advantages-container-list {
    counter-increment: my-counter;
    position: relative;
    margin-bottom: 106px;
}
.advantages-container-list::before {
    content: counter(my-counter, decimal-leading-zero);
    position: absolute;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    left: 0;
    top: 0;
}

.advantages-container-list::after {
    border-radius: 18px;
    width: 295px;
    height: 2px;
    background-color: rgba(251, 251, 251, 0.1);
    content: "";
    position: absolute;
    top: 46px;
}
.advantages-container-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    position: relative;
    top: 66px;
}




.advantages-img {
    border-radius: 24px;
    max-width: 335px;
    max-height: 424px;
}

@media screen and (min-width: 768px) {
    .advantages-img {
        max-width: 704px;
        margin: 0 auto 150px auto;
    }
}

@media screen and (min-width: 1280px) {
    .advantages-img {
        max-width: 432px;
    }
}

